In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import numpy as np

In [4]:
data = pd.read_csv('shippers_clearing_fees.csv')
data.head(5)

      category  weight    cost
0        shoes       3  257.34
1        shoes       4  287.12
2        other       2  130.58
3  electronics       3   97.78
4     clothing       3  153.87